html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
.header {
    padding: 60px;
    text-align: center;
    background: #6c9c93;
    color: white;
    font-size: 30px;
  }
  .image{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    min-height: 50vh;
  }
  .t1{
      justify-content: center;
      align-items: center;
      gap: 7px;
      flex-direction: column;
  }
  
  #display_image{
    width: 300px;
    height: 215px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
  }